.navbar-expand-sm .navbar-nav>li>a {
    font-size: 17px;
    font-family: sans-serif;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #ffc107;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    text-decoration: underline;
    /* background-color: #2C3333; */
}

.hero-main {
    background-color: #272829;
    /* background: linear-gradient(to bottom, #272829, #0e0e0e, transparent);  */
    padding-top: 130px;

}

.hero {
    color: #fff;
    height: 560px;
    animation: fadeInLeft 2s 
}

.hero h1 {
    font-size: 50px;
    color: #ffc107;
    font-family: sans-serif;
}

.hero h1,
p {
    margin-top: -60px;
    margin-left: 40px;
    font-family: sans-serif;
}

.hero p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 25px;
}

#text-portfolio {
    font-size: 15px;
    color: #fff;
}

#social-media{
    margin-left: 35px;
}



.img-viola img {
    margin-top: 40px;
}

.clave img {
    margin-top: 70px;
    border-radius: 20px;
    opacity: 1;
    filter: grayscale(100%);
    border: 5px solid #E55807;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}


.section-biografia {
    background-color: #f8f9fa;
    /* background-color: #111; */
    /* margin-bottom: 10px; */
    height: 480px;
    padding-top: 100px;

}

.section-biografia h1 {
    font-size: 25px;
    font-family: sans-serif;
    /* color:#f8f9fa; */
}

.content {
    position: relative;
    /* text-align: center; */
    /* border: 1px solid red; */
}

.content img {
    margin-top: 120px;
    opacity: 0.1;
}

.biografia {
    position: absolute;
    top: 0;
    left: 0;
}

.biografia h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

.mobile-text {
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    color: #111111;
    /* color: #ededed; */
    margin-bottom: 15px;
}

.small-text {
    max-height: 410px;
    overflow: hidden;
}

.full-text {
    display: none;
}

.read-more {
    cursor: pointer;
    color: #272829;
    /* text-align: left; */
    padding-top: -20px;
    border: 1px solid #ffc107;
    float: left;
    margin-left: 40px;
    border-radius: 25px;
    padding: 10px;
    background-color: #fafafa;
    text-decoration: none;

}

.read-more:hover {
    cursor: pointer;
    color: #f8f9fa;
    /* text-decoration: underline; */
    background-color: #ffc107;
    border: 3px solid #f8f9fa;

}

.section-shows {
    background-color: #f8f9fa;
    /* margin-top: 50px; */
    padding-bottom: 200px;
    text-align: center;
    padding-top: 100px;

}

.section-shows h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: #272829;
    font-family: sans-serif;
}

.show {
    border: 3px solid #ffc107;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
   
}


.show:hover {
   
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); */
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}





.section-shows h5 {
    color: #272829;
    margin-top: 90px;
    font-size: 14px;
    margin-bottom: 20px;
}

.show-more {
    cursor: pointer;
    color: #272829;
    /* text-align: left; */
    /* padding-top: -20px; */
    border: 1px solid #ffc107;
    float: right;
    margin-left: 40px;
    border-radius: 25px;
    padding: 10px;
    background-color: #fafafa;
    text-decoration: none;
    margin-top: 20px;

}

.show-more:hover {
    cursor: pointer;
    color: #f8f9fa;
    /* text-decoration: underline; */
    background-color: #ffc107;
    border: 3px solid #f8f9fa;
}



.section-products {
    background-color: #fff;
    padding-bottom: 70px;
    /* border: 1px solid red; */
    padding-top: 100px;


}

.section-products h1 {
    margin-top: 40px;
    font-size: 30px;
    color: #2C3333;
    font-family: sans-serif;

}

.section-products p {
    margin-top: 40px;
    font-size: 15px;
    font-family: sans-serif;

}

.carousel {
    margin-top: 60px;
}
.carousel-item img {
    opacity: 0.7; /* Altere o valor para ajustar a transparência desejada */
}

.carousel-item {
    position: relative;
}


.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor e transparência da sobreposição */
    pointer-events: none;
}


.product-thubnail {
    padding-top: 80px;
    /* border: 1px solid red; */
    padding-left: 30px;
    
}

/* .product-thubnail .tb-img{
    padding-left: 10px;

} */

.product-thubnail img {
    border: 3px solid #ffc107;

  
}

/* .image-container {
    position: relative;
    overflow: hidden;
} */

.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1); /* Aumenta o tamanho da imagem ao passar o mouse */
}

.contact-button a{
    cursor: pointer;
    color: #272829;
    /* border: 1px solid #fafafa; */
    margin-left: 50px;
    border-radius: 25px;
    padding: 12px;
    background-color:  #ffc107;
    text-decoration: none;
    font-weight: bold;
}

.contact-button a:hover{
    cursor: pointer;
    color: #272829;
    border: 1px solid #272829;

    background-color:  #fafafa;
    text-decoration: none;
}

.section-contacts {
    padding-bottom: 100px;
    text-align: center;
    background-color: #fff;
    padding-top: 100px;
}



.section-contacts h1 {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 30px;
    font-family: sans-serif;
}

.section-contacts span {
    font-size: 16px;
    color: #0F0F0F;
}




.section-footer {
    background-color: #272829;
    padding-bottom: 30px;
    text-align: center;
}

.section-footer h2 {
    padding-top: 40px;
    color: #ffc107;
}

.footer-text {

    padding-top: 20px;
    color: #ededed;
}

.developed-by {
    font-size: 12px;
    padding-top: 20px;
}




/* css padão para aplicação do efeito de transação */
@keyframes fadeInLeft
{
  0%{
      opacity:0;
      /* translateX reposiciona um elemento na direção horizontal e/ou vertical */
      -webkit-transform:translateX(-100px); 
      -ms-transform:translateX(-100px);
      transform:translateX(-100px)}
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0)
  }
}
