@media (max-width: 768px) {



    .section-biografia{
      margin-top: 200px;
      /* padding-bottom: 100px; */
      height: 850px;
      overflow: hidden; /* Ocultar conteúdo que ultrapassa a altura */
      transition: height 0.3s; /* Adicionar uma transição suave para a animação */
  
    }
    .small-text {
      max-height: 700px;
      overflow: hidden;
  }
  
    .section-products{
      margin-top: -30px;
    }
  }
  